.theme-light,
body.theme-light.is-mobile {
  --pre-bg-color: #fdfaf6;
  --code-bg-color: #fbf2e9;
  --code-alt-bg: #faede5;
  --pre-border: #faede5;
  --scroll-bar-thumb: #fccfcf;
  --scroll-bar-thumb-hover: #f8bdbd;
  --scroll-bar-track: #ededed;
  --sidebar-color: #f5f5f5;
  --external-link: rgba(0, 0, 0, 0.7);
  --external-link-hover: rgba(0, 0, 0, 0.9);
  --external-link-line: rgba(0, 0, 0, 0.25);
  --external-link-line-hover: rgba(0, 0, 0, 0.5);
  --internal-link: #2786cb;
  --internal-link-bg: rgba(39, 134, 203, 0.1);
  --internal-link-bg-hover: rgba(39, 134, 203, 0.18);
  --tag-color: rgb(255, 255, 255);
}
.theme-dark,
body.theme-dark.is-mobile {
  --pre-bg-color: #282c34;
  --code-bg-color: #353942;
  --code-alt-bg: #35393e;
  --pre-border: #606060;
  --scroll-bar-thumb: #606060;
  --scroll-bar-thumb-hover: #888888;
  --scroll-bar-track: #272727;
  --sidebar-color: #171a1d;
  --external-link: rgba(255, 255, 255, 0.7);
  --external-link-hover: rgba(255, 255, 255, 0.9);
  --external-link-line: rgba(255, 255, 255, 0.25);
  --external-link-line-hover: rgba(255, 255, 255, 0.5);
  --internal-link: #78b4fa;
  --internal-link-bg: rgba(120, 180, 250, 0.12);
  --internal-link-bg-hover: rgba(120, 180, 250, 0.2);
  --tag-color: rgb(250, 250, 250);
}

/* 调整字间距 */
.markdown-source-view {
  letter-spacing: 0.3px;
}
.markdown-reading-view {
  letter-spacing: 0.3px;
}

/* 去除链接图标 */
.external-link {
  background-image: none;
}

/* 小标题样式 */
.HyperMD-header-2,
.inline-title[data-level="2"],
.HyperMD-list-line .cm-header-2,
h2,
.markdown-rendered h2 {
  color: var(--text-normal);
  font-size: 1.5em;
  margin-top: 1.5em;
}

.HyperMD-header-3,
.inline-title[data-level="3"],
.HyperMD-list-line .cm-header-3,
h3,
.markdown-rendered h3 {
  color: var(--text-normal);
  font-size: 1.3em;
  margin-top: 1.3em;
}

body:not(.default-font-color) strong,
body:not(.default-font-color) span:not(.cm-highlight).cm-strong {
  color: var(--text-normal);
}

/* 侧栏颜色 */
.workspace-leaf-content {
  background-color: var(--sidebar-color);
}

/* 外部链接样式 */
.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
  color: var(--external-link);
  text-decoration: none;
  border-bottom: 1px solid var(--external-link-line);
}
.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover,
.markdown-source-view.mod-cm6 .cm-url .cm-underline:hover {
  color: var(--external-link-hover);
  text-decoration: none !important;
  border-bottom: 1px solid var(--external-link-line-hover);
}
.cm-s-obsidian span.cm-link:hover {
  text-decoration: none;
}

.external-link {
  color: var(--external-link);
  text-decoration: none;
  border-bottom: 1px solid var(--external-link-line);
  padding-right: 0;
}
.external-link:hover {
  color: var(--external-link-hover);
  text-decoration: none;
  border-bottom: 1px solid var(--external-link-line-hover);
}

.cm-s-obsidian span.cm-link {
  color: var(--external-link);
}
.cm-s-obsidian span.cm-formatting-link.cm-url,
.cm-s-obsidian span.cm-url {
  color: var(--external-link);
}

/* 内部链接样式 */
.markdown-rendered .internal-link {
  text-decoration: none;
}
.markdown-rendered .internal-link:hover {
  text-decoration: none;
}
.markdown-source-view.mod-cm6 .cm-underline {
  text-decoration: none;
}
.internal-link {
  color: var(--internal-link);
  background-color: var(--internal-link-bg);
  padding: 1px 2px;
  border-radius: 2px;
}
.internal-link:hover {
  color: var(--internal-link);
  background-color: var(--internal-link-bg-hover);
}

/* ****** */

/* 斜体颜色 */
body:not(.default-font-color) em,
body:not(.default-font-color) span:not(.cm-highlight).cm-em {
  color: var(--text-normal);
}

/* 代码块滚动条样式 */
code::-webkit-scrollbar {
  height: 8px;
  /* width: 10px; */
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: var(--scroll-bar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-hover);
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--scroll-bar-track);
}
