/* 阅读模式 */
a.tag {
  color: var(--tag-color);
  background-color: #71bd79;
  border-radius: 4px;
  padding: 1px 4px;
}

a.tag:hover {
  color: var(--tag-color);
  background-color: #7bc983;
}

/* 预览模式 */
.cm-hashtag {
  color: var(--tag-color);
  background-color: #71bd79;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cm-hashtag.cm-hashtag-begin {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 4px;
}
.cm-hashtag.cm-hashtag-end {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 4px;
}
